.place__image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    grid-column-start: 1;
    grid-row-start: 2;
}

@media screen and (max-width:753px) {
    .place__image {
        grid-row-start: 3;
    }
}