.place {
    max-width: 984px;
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;
    justify-content: center;
    margin: 0;
    padding-bottom: 80px;
}

.place:last-of-type {
    padding-bottom: 0;
}

@media screen and (max-width:1024px) {
    .place {
        max-width: 928px;
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
    }
}

@media screen and (max-width:830px) {
    .place {
        max-width: 720px;
        grid-template-columns: 340px 1fr;
        gap: 48px 28px;
        padding-bottom: 73px;
    }
}

@media screen and (max-width:650px) {
    .place {
        grid-template-columns: 1fr;
        gap: 32px;
        max-width: 100%;
        padding-bottom: 50px;
    }
}