.header__item{
margin: 18px 18px 6px 0;
}
.header__item:Last-of-type{
    margin:18px 0 6px;
}

@media screen and (max-width:320px) {
    .header__item{
        margin:14px 18px 8px 0; 
    }
    .header__item:Last-of-type{
        margin:14px 0 8px;
    }
    
}